{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Register</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">Username</label>
                    <input type="text" name="username" class="form-control" id="id_username" maxlength="16"
                        required>
                </div>
                <div class="form-group">
                    <label for="id_password1">Password</label>
                    <input type="password" name="password1" class="form-control" autocomplete="new-password"
                        required="" aria-describedby="id_password1_helptext" id="id_password1">
                </div>
                <div class="form-group">
                    <label for="id_password2">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" autocomplete="new-password"
                        required="" aria-describedby="id_password2_helptext" id="id_password2">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <p class="mt-3">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
            <div class="mt-4" id="messagesContainer">
                {% if messages %}
                {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }} text-center" {% endif %}>{{ message }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}